/**
 * This file is part of the FeatherGL javascript library
 *
 * (c) Brandon Nason <brandon.nason@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

ul
{
	
}

li
{
	display: inline-block;
	list-item-style: none;
	margin: 5px;
}